<a href="https://colab.research.google.com/github/chandhanadas/Data_science/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [ ]:

data=pd.read_csv('iris.csv')

In [ ]:
data.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [ ]:
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
x=data.iloc[:,:4]
x.head()

   5.1  3.5  1.4  0.2
0  4.9  3.0  1.4  0.2
1  4.7  3.2  1.3  0.2
2  4.6  3.1  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4

In [ ]:
y=data.iloc[:,-1]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Iris-setosa, dtype: object

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [ ]:
x_train.head()

     5.1  3.5  1.4  0.2
122  6.3  2.7  4.9  1.8
135  6.3  3.4  5.6  2.4
93   5.6  2.7  4.2  1.3
26   5.2  3.5  1.5  0.2
57   6.6  2.9  4.6  1.3

In [ ]:
x_test.head()

     5.1  3.5  1.4  0.2
50   6.4  3.2  4.5  1.5
96   6.2  2.9  4.3  1.3
15   5.4  3.9  1.3  0.4
144  6.7  3.0  5.2  2.3
51   6.9  3.1  4.9  1.5

In [ ]:
sc=StandardScaler()
sc.fit(x_train)
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
classifier=GaussianNB()

In [ ]:
classifier.fit(x_train,y_train)

GaussianNB()

In [ ]:
y_pred=classifier.predict(x_test)

In [ ]:
y_pred

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor'], dtype='<U15')

In [ ]:
y_test

50     Iris-versicolor
96     Iris-versicolor
15         Iris-setosa
144     Iris-virginica
51     Iris-versicolor
2          Iris-setosa
31         Iris-setosa
78     Iris-versicolor
41         Iris-setosa
111     Iris-virginica
138     Iris-virginica
137     Iris-virginica
56     Iris-versicolor
69     Iris-versicolor
139     Iris-virginica
48         Iris-setosa
127     Iris-virginica
115     Iris-virginica
75     Iris-versicolor
87     Iris-versicolor
6          Iris-setosa
89     Iris-versicolor
22         Iris-setosa
71     Iris-versicolor
119     Iris-virginica
147     Iris-virginica
66     Iris-versicolor
9          Iris-setosa
20         Iris-setosa
28         Iris-setosa
82     Iris-versicolor
55     Iris-versicolor
148     Iris-virginica
60     Iris-versicolor
104     Iris-virginica
36         Iris-setosa
47         Iris-setosa
7          Iris-setosa
86     Iris-versicolor
16         Iris-setosa
10         Iris-setosa
106     Iris-virginica
141     Iris-virginica
88     Iris-versicolor
63     Iris-versicolor
Name: Iris-setosa, dtype: object

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [ ]:
cm

array([[15,  0,  0],
       [ 0, 14,  3],
       [ 0,  0, 13]])

In [ ]:
ac

0.9333333333333333