<a href="https://colab.research.google.com/github/chandhanadas/Data_science/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
x=pd.Series(['data','science','and','machine','learning'])
print(x)

0        data
1     science
2         and
3     machine
4    learning
dtype: object

In [ ]:
import pandas as pd
date_series=pd.date_range(start='05-01-2021',end='05-12-2021')

print(date_series)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import pandas as pd
lists=[[2,'sree,23'],[1,'vis',21],[1,'lass',22]]
dataframe=pd.DataFrame(lists,columns=['id','name','age'])
print(dataframe)

   id     name   age
0   2  sree,23   NaN
1   1      vis  21.0
2   1     lass  22.0